{% extends "base.html" %}
{% block content %}
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<style>
    body, html {
      height: 100%;
  }
  
  /* The hero image */
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('static/images/stadium1.jpg');
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  </style> 
  
  <div class="hero-image">
    <div class="hero-text">
      <h1><b>MAKE YOUR DREAM TEAM</b></h1>
      <p>RIGHT NOW</p>
    </div>
  </div>


  <section id="home" class="main_content">
   <!-- <div class="row mt-5"> -->

        <div class="col-lg-12 col-sm-12">
     
            <!-- <div class="card card-body mb-3 shadow-sm"> -->
              <br>
              <h2 class="text-center mb-1">
                <b>HOW IT WORKS</b>
              </h2>
              <div class="row">
                  <div class="col-md-4">
                    <i class="far fa-hand-pointer" style="font-size: 48px;"></i>
                      <h4><b>I.Select Match Details</b></h4>
                      <p>Select match details including the tewo teams playing and stadium, its corresponding city and toss winner and toss decision as well.</p>
                  </div>
                  <div class="col-md-4">
                    <i class="far fa-hand-pointer" style="font-size: 48px;"></i>
                      <h4><b>II.Select Playing 22</b></h4>
                      <p>Select playing 22 from line up that is announced for more better results. Or you can choose any 22 based on constraints of the game.<a href="https://www.dream11.com/games/point-system#cricket"> Look at points system here.</a></a></p>
                  </div>
                  <div class="col-md-4">
                    <i class="far fa-hand-pointer" style="font-size: 48px;"></i>
                      <h4><b>III.Generate Dream Team</b></h4>
                      <p>To earn maximum points, according to fantasy points scoring system, we provide a team that will get you the best possible rank.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{url_for('static', filename='images/ipl2.jpg')}}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{url_for('static', filename='images/stadium3.jpg')}}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{url_for('static', filename='images/ipl1.jpg')}}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section id="home" class="main_content">
  <!-- <div class="row mt-5"> -->

       <div class="col-lg-12 col-sm-12">
    
           <div class="card card-body mb-3 shadow-sm">
             <br>
             <h2 class="text-center mb-1">
               <b>ALL ABOUT CREATING YOUR PERFECT TEAM</b>
             </h2>
             <p><b>What is Fantasy Cricket?</b></p>
             <p>Fantasy Cricket is an online gaming platform which works in co-ordination with the actual(live) cricket game. There are multiple fantasy cricket platforms which host multiple fantasy contest in which the user can participate by creating a team of 11 players out of the 22 players playing in the match. Based on the performance of the cricketers the fantasy contestant’s team are rated and ultimately the contestant with the best team is rewarded with cash price. 
              For more reference, <a href="https://en.wikipedia.org/wiki/Fantasy_cricket ">click here! </a>
              </p>
              <p><b>What does our platform do?</b></p>
              <p>The Optimized team selection algorithm” is a Machine Learning (ML) based model which uses the historical data of all the IPL matches to predict the performance of the players in the upcoming match. Hence, here we are using the computers computational power for calculating the complex statistical data and human’s analytical skill to select the important features for predicting player’s performance. Using the results of the ML model we recommend you the most optimal team to participate in the fantasy cricket.</p>
            <p><b>How to use our result for generating profits?</b></p>
            <p>The aspiring contestant of fantasy cricket need to execute following steps:<br>
              1.	Open the home page of the website.<br>
              2.	Select two teams which are going to play the next game.<br> 
              3.	Once two teams are selected the contestant has to select 11 players from each side who are going to play the game.<br>
              4.	After completing step 3 out platform will provide the best probable players who can perform better than others based on their past performance.<br>
              5.	Participate in various fantasy contest on platforms like Dream11, FanFight, Howzat, MyCricket11 etc. Based upon the team’s performance you will be rewarded.<br>
              </p>

            <p><b>How reliable the result is?</b></p>
            <p>Based on the past performance of the model it has been observed that the model is successfully predicting 7-8 players on an average out of 11 players. This result is 63-72% accurate if the output is compared with Dream team(Most optimal Team).</p>
            </div>
      </div>
  </div>

</section>
<!-- <div class="row mt-5"> -->
  <div class="container">
  <a href="{{url_for('home')}}" class="btn btn-primary btn-block" role="button"  style="margin: 0 auto;">Get Started</a>

</div>
 

{% endblock %}