{% extends "base.html" %}
{% block content %}
<div class='header'>
    <h3>Select 22 players</h3>
    <h4>Select players from each team's announced line-up</h4>
</div>
<div class="row">
    <div class="leftcolumn">
    <form  method="POST" action="{{ url_for('response') }}">
      <div class="Card">
        <h2>{{team1_name}}</h2>
        <h5>Select 11 Players from {{team1_name}}'s announced lineup</h5>
        <!-- Add players -->
         
        <!-- Batsman -->
        <div class="ft-form__ground-players--row">
            {% for i in range(t1_len)%}
                
                <div class="ft-form__ground-players--person"></div>
                    <div class="card unselected_card">
                        <img class="card-img-top" style=" width: 50%; margin-left: auto; margin-right: auto; display: block" src="/static/images/{{team1_name}}.png" alt="{{t1[i]}}">
                        <div class="card-body" style="text-align: center;">
                            <h6 class="card-title">{{t1[i]}}</h6>
                            <p class="card-text">{{t1_roles[i]}}</p>
                            <input type="checkbox" id="select_players" name="team1" value="{{t1[i]}}" style=" height: 20px; width: 20px;"><labels></label>
                        </div>
                    </div>
        {% endfor %}
        </div>
<!-- {% if t1_roles[i] == "BAT" %} -->
<!-- {% endif %} -->

        <!-- Bowlers-->
        <!-- <div class="ft-form__ground-players--row">
            {% for i in range(t1_len)%}
                {% if t1_roles[i] == "BWL" %}
                <div class="ft-form__ground-players--person"></div>
                <div class="card">
                    <img class="card-img-top" style=" width: 50%;" src="/static/images/{{team1_name}}.png" alt="{{t1[i]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{t1[i]}}</h5>
                        <p class="card-text">{{t1_roles[i]}}</p>
                        <input type="checkbox" id="select_players" name="team1" value="{{t1[i]}}"><label>{{t1[i]}}</label>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div> -->
        <!-- Wicket Keepers -->
        <!-- <div class="ft-form__ground-players--row">
            {% for i in range(t1_len)%}
                {% if t1_roles[i] == "WK" %}
                <div class="ft-form__ground-players--person"></div>
                <div class="card">
                    <img class="card-img-top" style=" width: 50%;" src="/static/images/{{team1_name}}.png" alt="{{t1[i]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{t1[i]}}</h5>
                        <p class="card-text">{{t1_roles[i]}}</p>
                        <input type="checkbox" id="select_players" name="team1" value="{{t1[i]}}"><label>{{t1[i]}}</label>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div> -->

            <!-- All Rounders -->
        <!-- <div class="ft-form__ground-players--row">
            {% for i in range(t1_len)%}
                {% if t1_roles[i] == "AR" %}
                <div class="ft-form__ground-players--person"></div>
                <div class="card">
                    <img class="card-img-top" style=" width: 50%;" src="/static/images/{{team1_name}}.png" alt="{{t1[i]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{t1[i]}}</h5>
                        <p class="card-text">{{t1_roles[i]}}</p>
                        <input type="checkbox" id="select_players" name="team1" value="{{t1[i]}}"><label>{{t1[i]}}</label>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div> -->
        
        <div class="Card">
            <h2>{{team2_name}}</h2>
            <h5>Select 11 Players from {{team2_name}}'s announced lineup</h5>
            <!-- Add players -->
            <!-- Batsman -->
            <div class="ft-form__ground-players--row">
                {% for i in range(t2_len)%}
            
                <div class="ft-form__ground-players--person"></div>
                <div class="card">
                    <img class="card-img-top" style=" width: 50%; margin-left: auto; margin-right: auto; display: block" src="/static/images/{{team2_name}}.png" alt="{{t1[i]}}">
                    <div class="card-body" style="text-align: center">
                        <h6 class="card-title">{{t2[i]}}</h6>
                        <p class="card-text">{{t2_roles[i]}}</p>
                        <input type="checkbox" id="select_players" name="team2" value="{{t2[i]}}" style="height: 20px; width: 20px;">
                </div>
            </div>
     
            {% endfor %}
            </div>
    
            <!-- Bowlers-->
            <!-- <div class="ft-form__ground-players--row">
            {% for i in range(t2_len)%}
            {% if t1_roles[i] == "BWL" %}
            <div class="ft-form__ground-players--person"></div>
            <div class="card">
                <img class="card-img-top" style=" width: 50%;" src="/static/images/{{team2_name}}.png" alt="{{t1[i]}}">
                <div class="card-body">
                    <h5 class="card-title">{{t2[i]}}</h5>
                    <p class="card-text">{{t2_roles[i]}}</p>
                    <input type="checkbox" id="select_players" name="team2" value="{{t2[i]}}"><label>{{t2[i]}}</label>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            </div> -->
    
            <!-- Wicket Keepers -->
            <!-- <div class="ft-form__ground-players--row">
                {% for i in range(t1_len)%}
                {% if t1_roles[i] == "WK" %}
                <div class="ft-form__ground-players--person"></div>
                <div class="card">
                    <img class="card-img-top" style=" width: 50%;" src="/static/images/{{team2_name}}.png" alt="{{t1[i]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{t2[i]}}</h5>
                        <p class="card-text">{{t2_roles[i]}}</p>
                        <input type="checkbox" id="select_players" name="team2" value="{{t2[i]}}"><label>{{t2[i]}}</label>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            </div> -->
    
            <!-- All Rounders -->
            <!-- <div class="ft-form__ground-players--row">
                {% for i in range(t2_len)%}
                {% if t1_roles[i] == "AR" %}
                <div class="ft-form__ground-players--person"></div>
                <div class="card">
                    <img class="card-img-top" style=" width: 50%;" src="/static/images/{{team2_name}}.png" alt="{{t1[i]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{t2[i]}}</h5>
                        <p class="card-text">{{t2_roles[i]}}</p>
                        <input type="checkbox" id="select_players" name="team2" value="{{t2[i]}}"><label>{{t2[i]}}</label>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            </div> -->
      </div>
    </div>
    <div class="row" style="align-content: center;">
        <button class="btn btn-primary">Generate Team</button>
        <!-- <button type="button" class="btn btn-primary"  style="align-self: center;">GENERATE TEAM</button> -->

    </div>
    

</form>
<style>
button{
    margin: 0 auto;
}
.ft-form__ground-players--row {
    flex: 1 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ft-form__ground-players--person span {
    color: var(--bg-1);
    font-size: 1.1rem;
    display: block;
    max-width: 7rem;
}
img{
width: 100px;
height: 120px;
}

* {
  box-sizing: border-box;
}


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

Right column
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 15px;
   box-shadow: 0 5px 202px rgba(0,0,0,0.5);
   transition: 0.2s ease-in;
   cursor: pointer;
   height: 250px;
   width: 200px;
}

.card:hover{

    transform: scale(1.06);
}

/* Clear floats after the columns */

.card .selected_card{
    border-color: white;
    
}
.card .unselected_card{
    border-color: lightslategrey;
    border-width: thick;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
</style>
<script>
    
</script>

{% endblock %}