{% extends "base.html" %}
{% block content %}

<section id="home" class="main_content">
<div class="container">
  <div class="row mt-5">

    <!--LEFT SIDE HOME-->
    <div class="col-md-6 col-sm-12">
     
        <div class="card card-body mb-3 shadow-sm">
          <br>
          <h4 class="text-center mb-1">
            <b>Generated Fantasy Team</b>
          </h4>
        <br><br>
        <!-- Make a df of credits players and points scored -->
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Player</th>
                <th scope="col">Team</th>
                <!-- <th scope="col">Points</th> -->
                <th scope="col">Credits</th>
                <th scope="col">Roles</th>

              </tr>
            </thead>
            <tbody>
                {% for d in range(0,len_data) %}
              <tr>
                <th scope="row">{{d+1}}</th>
                {% if d == 0 %}
                  <td name ='players' value="{{data_players[d]}}">{{data_players[d]}} [Captian]</td>
                {% elif d == 1 %}
                  <td name ='players' value="{{data_players[d]}}">{{data_players[d]}} [Vice-Captian]</td>
                {% else %}
                  <td name ='players' value="{{data_players[d]}}">{{data_players[d]}}</td>
                {% endif %}

                <td name ='teams' value="{{data_teams[d]}}">{{data_teams[d]}}</td>
                <!-- <td name ='points' value="{{data_points[d]}}">{{data_points[d]}}</td> -->
                <td name ='credits' value="{{data_credits[d]}}">{{data_credits[d]}}</td>
                <td name ='roles' value="{{data_roles[d]}}">{{data_roles[d]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <p id='team1_name' value = "{{team1_name}}" style="display: none;">{{team1_name}}</p>
          <p id='team2_name' value = "{{team2_name}}" style="display: none;">{{team2_name}}</p>
    
      </div>
      <br>
      <br>
    </div>

    <!--Right Side Home-->
    <div class="col-md-6 col-sm-12">
      <div class="card card-body mb-3 shadow-sm">
        <!-- <h4 class="text-center mb-1">
          <b>Generated Fantasy Team</b>
        </h4> -->
        <div class="ft-form__ground" style="background-image: url(&quot;/static/images/pitch_new.png&quot;);">
          <div class="ft-form__ground-players">
            <br>
            <br>
            <h6 style='text-align: center;'>Wicket-Keepers</h6>
            <div class="ft-form__ground-players--row">
            
              <!-- <span>Wicket-Keepers</span> -->
              {% for player in WK_players%}
              <div class="ft-form__ground-players--person">
                {% if player is in t1_players%}
                <img alt="#" src="/static/images/{{team1_name}}.png">
                {% else %}
                <img alt="#" src="/static/images/{{team2_name}}.png">
                {% endif %}
                <span>{{player}}</span>
              </div>
              {% endfor %}
            </div>

            <h6 style='text-align: center;'>Batsmen</h6>
            <div class="ft-form__ground-players--row">
              <!-- <span>Batsmen</span> -->
              {% for player in BAT_players%}
              <div class="ft-form__ground-players--person">
                {% if player is in t1_players%}
                <img alt="#" src="/static/images/{{team1_name}}.png">
                {% else %}
                <img alt="#" src="/static/images/{{team2_name}}.png">
                {% endif %}
                <span>{{player}}</span>
              </div>
              {% endfor %}
            </div>
           
            <h6 style='text-align: center;'>All-Rounders</h6>
            <div class="ft-form__ground-players--row">
              {% for player in AR_players%}
              <div class="ft-form__ground-players--person">
                {% if player is in t1_players%}
                <img alt="#" src="/static/images/{{team1_name}}.png">
                {% else %}
                <img alt="#" src="/static/images/{{team2_name}}.png">
                {% endif %}
                <span>{{player}}</span>
              </div>
              {% endfor %}
            </div>

            <h6 style='text-align: center;'>Bowlers</h6>
            <div class="ft-form__ground-players--row">
              {% for player in BWL_players%}
              <div class="ft-form__ground-players--person">
                {% if player is in t1_players%}
                <img alt="#" src="/static/images/{{team1_name}}.png">
                {% else %}
                <img alt="#" src="/static/images/{{team2_name}}.png">
                {% endif %}
                <span>{{player}}</span>
              </div>
              {% endfor %}
            </div> 

           <br>
            
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <!-- left side -->
    <div class="col-md-6 col-sm-12">
      <div class="card card-body mb-3 shadow-sm">
        <h1 class="text-center mb-1">
          <b>Fantasy Team: Team Distribution</b>
        </h1>
        <div class='chart-container' style="height:30vh; width:30vw">
          <!-- <canvas id = 'chart' width="300" height="300" style="display: block; box-sizing: border-box; height: 300px; width: 300px;"></canvas> -->
          <canvas id = 'pie_chart' width="300" height="300" style="position: relative;"></canvas>
        </div>
      </div>
    </div>
    <!-- right side -->
    <div class="col-md-6 col-sm-12">
      <div class="card card-body mb-3 shadow-sm">
        <h1 class="text-center mb-1">
          <b>Fantasy Team: Team Player Categories</b>
        </h1>
        <div class='chart-container' style="height:30vh; width:30vw">
          <!-- <canvas id = 'chart' width="300" height="300" style="display: block; box-sizing: border-box; height: 300px; width: 300px;"></canvas> -->
          <canvas id = 'bar_chart' width="300" height="300" style="position: relative;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

<style>
.chart-container{
  display: inline-block;
  position: relative;
  margin: auto;
  /* height: 20vh; */
  /* width: 40vw; */
}

.ft-form__ground {
  
    height: 46.75rem;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.ft-form__ground-players {
    display: flex;
    flex-direction: column;
    height: inherit;
    /* padding: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}
.ft-form__ground-players--row {
    flex: 1 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ft-form__ground-players--person span {
    color: var(--bg-1);
    font-size: 1.1rem;
    display: block;
    max-width: 7rem;
}
/* .ft-form__output--team-details {
    display: flex;
    flex-shrink: 0;
} */

/* .ft-form__output {
    flex: 3 1;
    display: flex;
    flex-direction: column;
    max-height: 83vh;
    overflow: auto;
    position: relative;
} */

img{
width: 70px;
height: 70px;
}
</style>
<script>
  var players = ''
  var teams = ''
  var points = ''
  var credits = ''
  var roles = ''
  var team1 = ''
  var team2 = '' 

   players = document.getElementsByName('players')
   teams = document.getElementsByName('teams')
   points = document.getElementsByName('points')
   credits = document.getElementsByName('credits')
   roles = document.getElementsByName('roles')

   team1 = document.getElementById('team1_name').innerHTML
   team2 = document.getElementById('team2_name').innerHTML
  
  var colors = {
    'CSK': 'hsl(57, 100%, 50%)',
    'MI': 'hsl(204, 100%, 50%)',
    'RR': 'hsl(298, 100%, 70%)',
    'SRH': 'hsl(27, 100%, 50%)',
    'KXIP': 'hsl(349, 100%, 50%)',
    'DC': 'hsl(240, 100%, 50%)',
    'KKR': 'hsl(280, 100%, 24%)',
    'RCB': 'hsl(13, 4%, 38%)',
  } 

function get_data(str_data){

  team1_count = 0
  team2_count = 0

  if(str_data == 'teams'){
    for(var i=0;i<11;i++){
      
    if(teams[i].innerHTML == team1){
      team1_count+=1
    }
    else{
      team2_count+=1
    }
  }
  console.log("Team count:", [team1_count,team2_count])
  return [team1_count,team2_count]
  }

  else{
    for(var i=0;i<11;i++){

    if(teams[i].innerHTML == team1 && roles[i].innerHTML == str_data){
      team1_count++
    }
    else if(teams[i].innerHTML == team2 && roles[i].innerHTML == str_data){
      team2_count++
    }
  }
  }
  console.log(str_data,"count:", [team1_count,team2_count])

  console.log('bar data')
  return [team1_count,team2_count]
}

//mutliseries pie

function get_piechart_data(str_data){
  var temp = get_data(str_data)
  var total = temp[0] + temp[1]
  return [(temp[0]/total)*100,(temp[1]/total)*100]
}

function get_pie_chart(){

  var data = {
  labels: [team1, team2],
  datasets: [
    { 
      backgroundColor: [ colors[team1], colors[team2] ],
      data: get_data('teams')
    }
  ]
};
  
    const config = {
  type: 'pie',
  data: data,
  options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        labels: {
          generateLabels: function(chart) {
            // Get the default label list
            const original = Chart.overrides.pie.plugins.legend.labels.generateLabels;
            const labelsOriginal = original.call(this, chart);

            // Build an array of colors used in the datasets of the chart
            var datasetColors = chart.data.datasets.map(function(e) {
              return e.backgroundColor;
            });
            datasetColors = datasetColors.flat();

            // Modify the color and hide state of each label
            labelsOriginal.forEach(label => {
              // There are twice as many labels as there are datasets. This converts the label index into the corresponding dataset index
              label.datasetIndex = (label.index - label.index % 2) / 2;

              // The hidden state must match the dataset's hidden state
              label.hidden = !chart.isDatasetVisible(label.datasetIndex);

              // Change the color to match the dataset
              label.fillStyle = datasetColors[label.index];
            });

            return labelsOriginal;
          }
        },
        onClick: function(mouseEvent, legendItem, legend) {
          // toggle the visibility of the dataset from what it currently is
          legend.chart.getDatasetMeta(
            legendItem.datasetIndex
          ).hidden = legend.chart.isDatasetVisible(legendItem.datasetIndex);
          legend.chart.update();
        }
      },
      tooltip: {
        callbacks: {
          label: function(context) {
            const labelIndex = (context.datasetIndex * 2) + context.dataIndex;
            return context.chart.data.labels[labelIndex] + ': ' + context.formattedValue;
          }
        }
      }
    }
  },
};

new Chart(document.getElementById('pie_chart'),config)

}


//Bar chart
function get_barchart_data(str_team){

  bat_count = get_data('BAT')
  bwl_count = get_data('BWL')
  ar_count = get_data('AR')
  wk_count = get_data('WK')
  var team1_bar_count = [bat_count[0],bwl_count[0],ar_count[0],wk_count[0]]
  var team2_bar_count = [bat_count[1],bwl_count[1],ar_count[1],wk_count[1]]

  console.log(team1_bar_count, team2_bar_count)
  
  if(str_team == 'team1'){
    return team1_bar_count
  }
  else{
    return team2_bar_count
  }
}



//

function get_bar_chart(){

  const data = {
    labels: ['Batsmen','Bowler','All Rounder','Wicket Keeper'],
    datasets: [
      {
        label: team1,
        data: get_barchart_data('team1'),
        //borderColor: 'hsl(200, 100%, 20%)',
        backgroundColor: colors[team1],
      },
      {
        label: team2,
        data: get_barchart_data('team2'),
        //borderColor: 'hsl(16, 100%, 20%)',
        backgroundColor: colors[team2],
      }
    ]
  };
  // </block:setup>

// <block:config:0>
const config = {
  type: 'bar',
  data: data,
  options: {
    scales: {
      y: {
        title: {
          display: true,
          text: 'No of players'
        },
        min: 0,
        max: 3,
        ticks: {
          // forces step size to be 50 units
          stepSize: 1
        }
      }
    },
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        position: 'bottom',
      },
      title: {
        display: true,
        text: 'Chart.js Bar Chart'
      }
    },
  },
};
// </block:config>

new Chart(document.getElementById('bar_chart'),config)
}

function call_charts(){
  get_pie_chart()
  get_bar_chart()
  
}
window.onload = call_charts

</script>




{% endblock %}